<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="{{wf_global_language|default('en')}}" class="ie no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{wf_global_language|default('en')}}" class="ie no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{wf_global_language|default('en')}}" class="ie no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{wf_global_language|default('en')}}" class="ie no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{wf_html_language|default('en')}}"><!--<![endif]-->
<head>
{% block wf_credits %}{% endblock %}
    
    {% block wf_meta %}<title>{% block wf_meta_title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="{%- block wf_meta_charset %}utf-8{% endblock -%}">
    <meta name="viewport" content="{%- block wf_meta_viewport %}width=device-width,initial-scale=1{% endblock -%}">    
    <meta name="description" content="{%- block wf_meta_description %}{% endblock -%}">
    <meta name="author" content="{%- block wf_meta_author %}{% endblock -%}">{% endblock %}

    <link rel="shortcut icon" href="{%- block wf_meta_favicon %}{{ asset('favicon.ico') }}{% endblock -%}" />

{% block wf_stylesheet %}{% endblock %}
{% block wf_head_js %}
    <script src="{{ asset('bundles/aggressivexwebfoundations/js/libs/modernizr-2.5.3.min.js') }}"></script>
{% endblock %}
</head>
{% block wf_body %}
<body>
{% block wf_chromeframe %}
<!--[if lt IE 7]>
    <p class=chromeframe>Your browser is <em>ancient!</em> 
        <a href="http://browsehappy.com">Upgrade to a different browser</a> or 
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
    </p>
<![endif]-->
{% endblock %}
{% block wf_body_content %}
{% endblock %}
{% block wf_bottom_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% javascripts '@AggressivexWebFoundationsBundle/Resources/public/js/libs/jquery-1.7.2.min.js' %}{{ asset_url }}{% endjavascripts %}"><\/script>')</script>
{% endblock %}
{% block wf_google_analytics %}
    <script>
        var _gaq=[['_setAccount','{{wf_google_analytics_code|default('UA-XXXXX-X')}}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock %}
</body>
{% endblock %}
</html>